<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}
  </h1>
  <nav>
<!--    <a routerLink="/vehicles">Cars</a>-->
  </nav>
  <router-outlet></router-outlet>
  <br>
  <app-messages></app-messages>
</div>

